@import '~bulma/bulma.sass';
@import '~antd/dist/antd.css';


@font-face {
  font-family: myriad;
  src: url("../images/fonts/myriad.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.viewer-highlight {
  background-color: none !important;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.title {
  font-family: "myriad";
  font-weight: 400;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}


#netlify-identity-widget  {
  z-index: 10000 !important;
  background: grey !important;
}
