@import '~bulma/bulma.sass';
@import '~antd/dist/antd.css';

@font-face {
  font-family: myriad;
  src: url("../images/fonts/myriad.otf") format("opentype");
}

@font-face {
  font-family: regular;
  src: url("../images/fonts/regular.otf") format("opentype");
}



body {
  margin: 0;
  font-family: 'regular', sans-serif;
}

.title {
  font-family: "myriad";
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}


